@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

body {

  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Macondo";
  font-size: 25px
}

canvas {
  display: block;
}

.artistButton {
  position: fixed;
  left: 410px;
  font-family: "Macondo";
  font-size: 25px;

}

.resourceButton {
  position: fixed;
  right: 470px;
  font-family: "Macondo";
  font-size: 25px;
}

.artist {
  margin-left: 0;
  margin-top: 15%;
  text-align: center;
}

.gameButton{

}
